########################################################
#             Jupyter notebook checkpoints             #
########################################################
.ipynb_checkpoints/

########################################################
#     Fichiers de données trop lourds pour github      #
########################################################
data/

########################################################
#                 Clés SSH + passwords                 #
########################################################
*.pem
*.ppk
password_jupyter_aws.txt
rootkey.csv

########################################################
#          Fichiers de tests + étapes projet           #
########################################################
tests/
etapes_projet.txt